[submodule "Gongbi"]
	path = Gongbi
	url = https://git.qiuwen.net.cn/Qiuwen/mediawiki-skins-Gongbi

[submodule "Vector"]
	path = Vector
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-skins-Vector
	branch = REL1_43

[submodule "Citizen"]
	path = Citizen
	url = https://git.qiuwen.net.cn/Fork/mediawiki-skins-Citizen
