[submodule "Gongbi"]
	path = Gongbi
	url = https://git.qiuwen.net.cn/Qiuwen/mediawiki-skins-Gongbi

[submodule "Vector"]
	path = Vector
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-skins-Vector
	branch = REL1_42

[submodule "CitizenNew"]
	path = CitizenNew
	url = https://git.qiuwen.net.cn/Fork/CitizenNew
	branch = master
